/* RGB */
.red-color-rgb {
  color: rgba(255, 0, 0, 0.5);
}
.green-color-rgb {
  color: rgb(0 255 0/0.6);
}
.blue-color-rgb {
  color: rgb(0 0 255);
}
.white-color-rgb {
  color: rgb(255 255 255);
}
.black-color-rgb {
  color: rgb(0 0 0);
}

/* 
    Особенность формата rgb - мы можем можем ему задать определенную прозрачность. Делается оно черех / и значение от 0 до 1, где 1 полностью НЕпрозрачный, а 0 это полностью прозрачный. 
    
    В варианте, где мы через запятую прописываем rgb - мы не сможем через / прописать прозрачность.Если хотим через запятую, то пишем уже rgba четвертым значением пишем прозрачность, пример - rgba(255, 0, 0, 0.7)  
*/

/* HEX */

.red-color-hex {
  color: #ff000033;
}
.green-color-hex {
  color: #00ff00;
}
.blue-color-hex {
  color: #0000ff;
}
.white-color-hex {
  color: #ffffff;
}
.black-color-hex {
  color: #000000;
}

/*  
    Для HEX часто используются сокращенные версии. Например если значения в одной группе.
    Черный 00-00-00 это три группы. 
    Если в одной группе значения повторяются то можно сократить значение до 1 символа.
    Примеры:
      Красный: #ff0000; можно прописать как #f00
      Зеленый: #00ff00; можно прописать как #0f0
      Синий:   #0000ff; можно прописать как #00f
      Белый:   #ffffff; можно прописать как #fff
      Черный:  #000000; можно прописать как #000

      +Прозначность. Это плюс еще два символа вконце, добавляем 4 группу, которая отвечает за альфа канал(за прозрачность). Тут чуть посложнее, есть некие заметки, где в процентном соотношение указано значение группы. 
      Например #ff000000 это 100% прозрачности, и #ff0000FF это 100% цвета.
      https://gist.github.com/lopspower/03fb1cc0ac9f32ef38f4
*/

/*
    В VSCode кликнув на цвет, можно кликнуть по шапке поля и вручную выбрать нужный формат цвета.

*/

/* HSL */

.red-color-hsl {
  color: hsl(0 100% 50% / 0.5);
}
.green-color-hsl {
  color: hsla(120, 100%, 50%, 0.5);
}
.blue-color-hsl {
  color: hsl(240, 100%, 50%);
}
.white-color-hsl {
  color: hsl(0, 0%, 100%);
}
.black-color-hsl {
  color: hsl(0, 0%, 0%);
}

/* 
HSI (эйч эс эль) (от англ. hue-оттенок, saturation-насыщенность, lightness (intensity)-светлота) — цветовая модель, в которой цветовыми координатами являются тон, насыщенность и светлота. Она более компактная и универсальная, используется чуть реже. Используют профессионалы очень часто.

Где H оттенок позволяет устанавливать значение от 0 до 360, где 360 и 0 одно и тоже но писать лучше 0

Где S насыщенность позволяет устанавливать значение от Более темного до Более яркого цвета

Где L это светлота,
*/
