.container {
  max-width: 1000px;
  margin: 0 auto;
}

.section-head {
  margin: 0 0 20px;
}

.card-item {
  padding: 20px;
  max-width: 300px;
  margin-bottom: 30px;
}

.link {
  margin-bottom: 10px;
  display: inline-block;
}

.title-h3 {
  margin-bottom: 10px;
  padding: 20px;
  display: inline-block;
}

.block-1 {
  font-size: 20px;
  width: 400px;
  height: 400px;
}

.block-2 {
  width: 100vw;
  height: 50vh;
  margin: 0 auto;
}
/*
1ая по популярности единица измерения это рх
2ая по популярности единица измерения это %

Проценты рассчитываются относительно родительских элементов.
Например если сделать отступ margin: 0 0 20%; и переидти в devtools и начать двигать экран больше меньше то мы увидим что отступ автоматически становитьсяч больше или меньше автоматом.
Однако он зависит от ширины его родителя.

Еще пример, у нас есть block-1, и в нем есть какие то стили ширины и мы хотим чтобы block-2 который дочернний занимал такую же ширину 1в1, для этого мы напишем .block-2 {width: 100%;}

-------------------------------------------------------------------------------------
auto.

Например мы  укажем дочернему block-2 width: auto; 
Авто позволяет указывать значение в зависимости от достпуного пространства, т.е. сколько он может занять столько он и занимает. Это обычно используется для каких то отступов итд.



vw - вьюпор видх, это единица измерения для ширины, для мобильных устройств используется чаще. Например если задать width 100vw то элемент будет 100% от разрешения экрана устроства, если 50 то 50% ширины, делим на 2.

vh - вьюпор хай, это аналог vw только для высоты экрана

vw и vh мы будем использовать когда мы будем зависеть от ширины и высоты экрана.

1rem = 16px
*/
