* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1f1e1e; /* Задаем фон всему телу html*/
  color: #fff;
}

.block {
  width: 1000px;
  height: 1000px;

  background-image: url("../../../files/image/cat-image.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  /*
  ЭТО МОЖНО ПЕРЕПИСАТЬ КОРОЧЕ (на MDN есть инструкция порядка, что-то с чем-то стоять рядом не может), СМ.НИЖЕ
  background: url("../../../files/image/cat-image.jpg") no-repeat 50% / contain;*/
}

/*
--------------------------------------------------------------------------------------------------------------
....Свойство box-sizing позволяет изменить расчет ширины и высоты. По умолчанию у свойства стоит значение content-box. Однако рекомендуется использовать border-box (позволяет высчитывать ширину с учетом паддингов и бордеров, тоесть если ширина 500px, и паддинги 20px, остальное 0, то будет 460 размер)

Обычно его пишут сразу для всех элементов. * {box-sizing: border-box;}
--------------------------------------------------------------------------------------------------------------

Чтобы задать фон мы можем использовать свойство background. Это свойство универсальное, оно  включает в себя несколько свойств. Например можем указать background: #000; черный цвет, но мы ничего не увидим пока не установим ширину и длину для элемента
--------------------------------------------------------------------------------------------------------------

...background       включает несколько значений.
--------------------------------------------------------------------------------------------------------------
...background-size  это размер фона, по умолчанию здесь стоит auto. Но можно прописать background-size: ширинаРХ высотаРХ; и например 100px 100px и тогда картинка поделиться на 25 картинок.
   
Если написать background-size: contain; и при этом width будет 1000рх, а картинка 700х200 -> то картинка замостится (пропорционально заполнит изображениями чтобы оно не искажалось)

Если написать background-size: cover; То изображение пропорционально растянется по всему блоку, данное свойство очень часто используется но иногда бывают случаи когда оно нам не нужно. Все же если наше изображение не помещается то лучше исопльзовать contain. Но чаще всего хватает свойства cover. 
--------------------------------------------------------------------------------------------------------------
...background-repeat позволит нам решить проблему повторения изображения. По умолчанию стоит значение repeat.
    Принимаются значения repeat-x, repeat-y (это оси), и no-repeat  (самое частое), и при no-repeat  у нас при ширине 1000 заполнится только 700 ширина картинки, остальное будет пустым белым фоном.
--------------------------------------------------------------------------------------------------------------
...background-color позволяет просто задавать цвет фона.
--------------------------------------------------------------------------------------------------------------
...background-image позволяет вставлять изображение. 
Пример с директории:background-image: url('../../../files/image/cat-image.jpg');
Пример с ссылкой:   
--------------------------------------------------------------------------------------------------------------
...background-position позволяет изменять положение нашего фона. По умолчанию здесь 0 0. Где первое значение это положение по оси Х (влево-вправо), и второе по оси У (верх-низ)
  background-position: 50% установит элемент по середине.
  Есть еще ключевые слова чтобы прибить изображения. top/bottom/right/left/center(выставит по середине)
--------------------------------------------------------------------------------------------------------------
...background-blend-mode позволяет накладывать фильтры, но один он не работает, данному свойству нужен еще и фон чтобы было с чем смешивать фильтр. Например background-color: #c74747;
--------------------------------------------------------------------------------------------------------------
Изображения можно перечислять через запятую
--------------------------------------------------------------------------------------------------------------
*/
