table {
  border-spacing: 0px;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: aquamarine;
}

td,
th,
caption {
  border: 1px solid #000;
}

caption {
  border-bottom: none; /* Уберем обводку ячейки снизу */
}

/* 
    border-spacing отвечает за отступы мекжду ячейками.
    border-collapse требуется чтобы склеить бордеры когда мы убираем между ними отступы
*/
