h2,
h3 {
  /* Мы можем через запятую перечислять селекторы, будь то теги или классы */
  color: purple;
}

ul li {
  /* Мы можем через пробел обращаться к селекторам, включая вложенные */
  color: red;
}

ol li a {
  /* Обратились к ссылке в списке */
  color: pink;
}

h2#title-1 {
  /* Можем обратиться через #id, а если хотим и тип селектора то h2#title-1*/
  color: blue;
}

#title-2 {
  /* Можем обратиться через #id */
  color: darkgreen;
}

.paragraphs {
  /* Здесь мы обратились к классу paragpraphs */
  color: goldenrod;
}

.par2 {
  /* Здесь мы обратились к под-классу paragpraphs par2 */
  color: brown;
}

h3.paragraphs {
  /*  Например вмы хотим красить только h3 у которого класс paragraphs*/
  color: bisque;
}

tr {
  color: rgb(114, 144, 84);
}

.title .span {
  color: brown;
}

body a {
  color: green;
}
/*
#link {*/
/* Он же body a, но мы сделали ему id */
/* color: pink;
}*/
/*
a.link {
  color: coral;
}*/

[href="#title"] {
  /* Это означает что элементы с атрибутом href мы будем стилизовать, также может быть  [href]="#title" */
  color: darkolivegreen;
}

* {
  color: deeppink;
}

/* Селектором может выступать имя тега, даже тег html, 

к id мы обращаемся вот так #title-1, как к ссылке.
но если мы хотит в title-1 стилизовать какой то конкретный тег, то пишем вплотную например h2#title-1

class это самый популярный селектор. Обращение через .paragraph
class позволяет удобно стилизовать чтобы постоянно не повторять код.

Селекторы можно гибко совмещать, например обращаться к дочерним элементам классов.(классы внутри классов) см.выше .title .span 

Обращаться можно и к атрибутам по ссылке, через href. Например [href="#title"], кроме класса. Класс лучше отдельно через .class использовать.

** - одна звездочка это селектор всех элементов, ставя ее это значит что мы прописывает стиль вообще для всех HTML элементов, неважно какие будут теги/атрибуты

*/
