body {
  font-family: Arial, sans-serif;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-decoration: line-through solid #f00;
}

a {
  text-decoration: none;
}

/*
-----------------------------------------------------------------------------------------
    font-family данное свойство позволяет установить семейство шрифта.

    Чтобы выбрать какой нибудь стандартный шрифт С засечками мы можем прописать значение serif
    Чтобы выбрать какой нибудь стандартный шрифт БЕЗ засечек мы можем прописать значение sans-serif

    Также мы можем комбинировать шрифты через запятую, например Arial, sans-serif; Это нужно на случай, если например Arial будет недоступен, то тогда выберется sans-serif

    То что по умолчанию - мы в код не пишем чтобы не засорять.

-----------------------------------------------------------------------------------------
    font-size это свойство отвечает за размер шрифта. И нужно будет прописать единицу измерения, например 30px.

    16px это стандартная настройка в браузере, данная настройка всегда стоит по умолчанию.

    Часто используют четные значения для px. То что по умолчанию - мы в код не пишем чтобы не засорять.

-----------------------------------------------------------------------------------------

    Важная рекомендация, в CSS идти также по порядку с селекторами, точно также как идет в разметке. 
    Например первым идет body, потом h1 с классом title потом p с классом text.
    
-----------------------------------------------------------------------------------------
    font-weight - свойство отвечает за жирность шрифта. Значения идут от 100 до 900. Где 100 самый тонкий. 400 это нормальный. Или можно написать значение по имени, например Normal. То что по умолчанию - мы в код не пишем чтобы не засорять.

    line-height - свойство высоты строки. Увеличивает саму строку, внешне выглядит как пространство между строк.(стандарт 16px)

    Аналогично 16px мы можем написать 1. Подобные числовые значения для line-height без ед.изм.- берут значение шрифта и умножают его. (font-size)16px * 1(line-height) = 16 (line-height px), если зададим 2, -то 16*2=32px

-----------------------------------------------------------------------------------------

    letter-spacing - это свойство отступов между буквами. По умолчанию 1px. То что по умолчанию - мы в код не пишем чтобы не засорять.
-----------------------------------------------------------------------------------------

    text-decoration - данное свойство позволяет добавлять подчеркивание или перечеркивание.
    По умолчанию none. 
    underline подчеркнет текст снизу.
    overline подчеркнет текст сверху.
    line-through перечеркнет текст.
    wavy это волнистое подчеркивание (просто так работать не будет, надо настраивать св-ва, например пишем через пробел text-decoration: underline wavy #f00;
    )

    text-decoration: line-through solid #f00 (где solid это значение по умолчанию прямой линии для перечеркивания)

    Его часто используют на ссылках в теге <a> если провалить в код элемента то увидим там по умолчанию уже прописаный text-decoration: underline. Но если нам нужно убрать подчеркивание у ссылок то прописывает стиль a {text-decoration:none}
    */
