* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1f1e1e; /* Задаем фон всему телу html*/
  color: #f1f1f1; /* цвет шрифта */
  font-family: sans-serif; /* шрифт */
  font-size: 15px;
}

.block {
  width: 500px; /* ширина */
  height: 500px; /* высота */
  margin: 50px; /* отступы внешние */
  background-color: #f1f1f1; /* белый фон самого класса т.е. блока */
  border: 10px solid #ff0000; /* Это пример полноценной рамки внутренней*/
  padding: 50px; /* отступы внутренние, от обводки до нашего текста*/
  border-radius: 10px; /* скругление углов, чем больше значение тем круглее, вплоть до круга (50% это тоже круг)*/

  /*outline: 10px solid green;*/ /* задаем рамку наружнюю*/
  /*outline-offset: 20px;*/ /*расстояние внут.рамки от элемента*/
}

.card {
  /* Пример красивой карточки: */
  display: inline-block; /* 0. для того чтобы карточки были в ряд */

  max-width: 350px; /* 1. ограничим ширину */
  border: 2px solid #bdb4b4; /* 2. создаем рамку */
  border-radius: 10px; /* 3.скругляем углы рамке */
  margin: 40px; /* 4.отступы внешние */
}

.img {
  min-height: 200px; /* минимальная высота, это мы сделали пространство для изображения */
}
.card-content {
  padding: 15px; /* отступы внутренние, от обводки до нашего текста*/
}
/* Урок про рамки и скругление углов
-------------------------------------------------------------------------------------------
border - данное свойство является универсальным позволяет установить рамку нашему блоку. И включает в себя значения еще 3х свойств в любом порядке(c % обводка не работает):
                                    border-width - ширина обводки, например 5рх
                                    border-style - стиль обводки, например solid
                                    border-color - цвет обводки, например #ff0000
-------------------------------------------------------------------------------------------
border-top     позволяет задать рамку сверху элемента.
border-bottom  позволяет задать рамку внизу элемента.
border-left    позволяет задать рамку слева элемента.
border-right   позволяет задать рамку справа элемента.
border-block   позволяет задать рамку сверху и снизу элемента.
border-inline  позволяет задать рамку слева и справа элемента.
-------------------------------------------------------------------------------------------
Также есть такие связки как border-bottom-color: darkblue; И.т.п.
-------------------------------------------------------------------------------------------
Отдельно разберем свойства:

1. Ставим border-color (это цвет) -> не работает без ширины рамки border-width
2. Ставим border-width (ширину) -> не работает так как нет стиля
3. Ставим border-style

border-color: 10px 5px; и border-width: 10px 5px; можно указывать по два значения (первое:верх-низ,второе:лево-право) В общем все как в паддингах, и четыре, и три значения и одно. Также с цветом порядок тот же.

-------------------------------------------------------------------------------------------

При стандартном box-sizing обводка НЕ учитывается и при ширине/высоте 500/500 оно станет 510 на 510.
А если установить box-sizing: border-box то border и padding посчитаются тоже внутри значений 500/500 и станет 480 на 480.
-------------------------------------------------------------------------------------------
border-radius позволяет нам делать скругление углов.
ДАнное свойство мы пишем отдельно от универсального (которая сборная солянка border: 10px solid #цвет;)
Значений также может быть одно/два/три/четыре. Все также как в паддингах. ИЛИ ИДЕМ В ГЕНЕРАТОР
-------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------
outline - данное свойство также позволяет нам задавать рамку. Но оно ведет себя немножко по другому. 
Оно тоже универсальное и состоит из трех значений. Единственно что мы не сможем создать его для разных сторон, т.к. оно идет внешне от рамки и он не учитывается при отрисовке нашего элемента.

outline-offset - позволяет определить на каком расстоянии от нашего элемента будет наша обводка. Например 10рх и обводка внешняя отдалится на 10рх. Также, если указать -10рх, то обводка отдалится внутрь.


*/
