* {
  box-sizing: border-box;
}

.text-1 {
  color: blue;
  margin: 5px 10px 0px 20px;
}

.text-2 {
  color: brown;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 0;
}

.text-3 {
  color: chocolate;
  margin: 10px 20px;
}

.text-4 {
  color: darkblue;
  margin: 20px;
}
.text-5 {
  color: green;
  margin: 15px 25px 27px;
  padding: 20px;
  width: 500px;
}

.section-head {
  margin: 0 0 20px;
}

.card-item {
  padding: 20px;
  width: 400px;
}

.link {
  margin-bottom: 20px;
}

.title-h3 {
  margin: 0 0 15px;
}

.text {
  margin: 0;
}

/*
 Блочная модель - простыми словами это правила по которым расчитываются размеры элементов на странице. А вообще нужно понимать что все элементы на наших страницах являются блоками.
 Даже круг - это блок. 

 Блоки разделяются: Если значение 21х21рх, то это ширина Х высота.
   - Синим выделяется размер нашего элемента.(ширина и высота, например 21х21 по сути рх)
   - Зеленым (padding) выделяются внутренние отступы элемента.(если их нет, то будут прочерки) Отступы от границы до контента.
   - Желтым (border) выделяется граница нашего элемента (толщина)
   - Оранжевым (margin) это внешние отступы. Тоесть отступы от элемента до элемента.


-----------------------------------------------------------------------------------------
   ....Свойство margin вспомним что это внешние отступы.Марджином можно задавать размеры каждой стороне нашего элемента.
      Существуют margin-top - Это отступ сверху.
                 margin-bottom - Это отступ снизу.
                 margin-right - Это отступ справа.
                 margin-left - Это отступ слева.
   А просто margin соединяет все эти 4 сво-ва и делает их сверху вниз справа налево
   Порядок для margin как по часовой стрелке = Сверху - Справа - Снизу - Слева
   

   Вспомним что блочные элементы растягиваются на всю доступную ширину экрана.


   Марджин может принимать и одно и два и три значения (чтобы сокращенно)
          -Если одно значение - то оно задает отступ одновременно всем сторонам.
          -Если два значения - то первое отвечает за отступы сверху и снизу, второе за отступы слева и справа.
          -Если три значения -  то 1ое это верх,2ое это по бокам, третье снизу. Вообще это плохая практика из разряда читаемости и понимания кода.


          Здесь также работает каскадирование. И значения margin также читается сверху вниз и перезапишется.
-----------------------------------------------------------------------------------------

....Свойство padding внутренние отступы, позволяют задавать дополнительные размеры для нашего элемента. По пропорциям верх-право-низ-лево арботает точно также, как и значения одно/два/три. Также есть и отдельными свойствами top/right/bottom/left
-----------------------------------------------------------------------------------------

....Свойство box-sizing позволяет изменить расчет ширины и высоты. По умолчанию у свойства стоит значение content-box. Однако рекомендуется использовать border-box (позволяет высчитывать ширину с учетом паддингов и бордеров, тоесть если ширина 500px, и паддинги 20px, остальное 0, то будет 460 размер)

Обычно его пишут сразу для всех элементов. * {box-sizing: border-box;}

   */
