/*#text-id {
  color: coral;
}*/

.text {
  color: #4693c0;
}
/*
p {
  color: chartreuse !important;
}*/
/*
p.text {*/
/*сочетание селекторов*/
/*  color: blue;
}*/

body {
  font-weight: 700;
}

/* 
    Каскад позволяет определять порядок применения свойств каким-то элементам.
    Класс .text  мы прописали 2 раза, цвет переписался, это и есть каскадность. Код читается сверху вниз. И применяется последнее свойство.

    Также мы можем подключать несколько CSS файлов, что будет в таком случае с каскадированием? Цвет станет таким какой мы пропишем во втором файле, т.к. порядок подключения CSS файлов тоже влияет!!!! Сначала он перечитал и применил все стили из 1 файла, потом на очереди второй фаил, все применил из него.


    Теперь мы написали для тега <p>, и что  сейчас будет? Правильно ничего!!! Теперь это уже тема ВЕС СЕЛЕКТОРОВ!!

    Самый минимальный вес у селектора по ТЕГУ, далее идет селектор по  классу, 
    
    ///но если классов несколько одинаковых или они вложеные (<p class="text-green text">), то работает уже каскадность и код идет сверху вниз////

    далее идет id, у него вес еще больше чем у класса.
    далее идут inline стили, тоесть стили которые мы хардом прописываем в HTML в тегах. Например  <p id="text-id" class="text-green text" style="color: yellow">

    НО!!!! Мы можем все равно перебить все эти стили, написав в CSS через пробел !important


    Еще мы можем использовать сочетание селекторов, например p.text {}
*/

/* 
    Наследование.
    Пример - Мы накладываем стили на body, а они накладываются на элементы внутри. 
*/
