.spans {
  color: brown;
  display: block;
}

.card-item {
  min-width: 400px;
  min-height: 100px;
}

.link {
  margin-bottom: 10px;
  padding: 20px;
  display: inline-block;
}

.section-head {
  display: none;
}
/*
    display позволяет контроллировать поведение элемента в нашем потоке. По стандарту в html есть строчные и блочные элементы. Например h2 является блочным, растягивается на всю ширину, начинается с новой строки и выталкивает другие элементы их строки.

    div - это блочный элемент.
    span внутри div будет строчным элементом.

    По умолчанию в блочных элементах стоит display: block;

    Если мы span установим display: block то элемент станет блочным.
    Если мы h1 установим display: inline то элемент станет строчным.


    Вспомним как мы классу link пытались добавить margin-bottom, однако никакого отступа тут нет. Дело в том что по умолчанию для inline элементов не работают св-ва margin/padding/width. Теперь мы установим ему display: block и все сработает.

    Но бывает такое что отступ нужно сделать от inline элемента. Для этого мы используем display: inline-block. Данное значение позволяет соединить преимущество inline и block элементов. Теперь мы можем задавать margin-bottom и при этом ширина элемента будет рассчитываться в зависимости от контента.

    display: none -  позволяет скрыть элемент из нашего потока. На самом деле он будет находиться в нашей разметке. Но визуально и для браузера он будет скрыт. В dev-tools мы его сможем увидеть. Иногда это требуется например когда мы при помощи JS изменяем свойство display: none на display: block по клику на какую то кнопку. Тоесть по кнопке элемент показывается.

    display:block         - превращает строчный элемент в блочный.
    display:inline        - превращает блочный элемент в строчный.
    display:inline-block  - берем преимущ. от обоих, чтобы например был отступ от inline.
    display:none          - скрывает из потока.
*/
