textarea {
  resize: both;
  max-height: 200px;
  max-width: 200px;
}

/* 
    resize обычно используется только для textarea, но можно и другим элементам 
        resize: none -  теперь нельзя изменять размер поля руками 
        resize: both - позволяет изменять размеры хоть горизонтально хоть вертикально.
        resize: vertical - позволяет изменять размеры вертикально.
        resize: horizontal - позволяет изменять размеры горизонтально.
    Обычно иcпользуют none или vertical.

    Его можно ограничить с помощью max-height: 200px; max-width: 200px;
*/
